@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --white: #ffffff;
  --brown: #ec660d;
  --brown-dark: #ba510b; /* Cor mais escura para hover */
  --black: #353a42;
}


body {
  background-color: var(--background);
  color: var(--black);

  button{
    cursor: pointer;
  }
}

.bg-brown {
  background-color: var(--brown);
}

.bg-brown-dark {
  background-color: var(--brown-dark);
}

.bg-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-brown {
  color: var(--brown);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
